.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 15px 30px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 44px;
}
.nav-logo p{
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-dropdown{
    display: none;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.nav-profile button {
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-profile button:hover {
    transform: scale(1.05);
}

.nav-profile img:hover {
    transform: scale(1.1);
}

/* -------- media query---------- */
@media(max-width:900px){
    .navbar{
        padding: 15px 40px;
    }
    .nav-menu{
        gap: 15px;
    }
}

@media(max-width:750px){
    .navbar{
        padding: 15px 20px;
    }
    
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    } 
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 60px;
        left: 0;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
    .nav-profile img {
        width: 30px;
        height: 30px;
    }

    .nav-profile button {
        font-size: 12px;
        padding: 6px 10px;
    }
    
}

@media(max-width:500px){
    .navbar{
        padding: 15px 15px;
    }

    .nav-logo img{
        width: 30px;
    }
    .nav-logo p{
        font-size: 18px;
    }
    .nav-menu-visible{
        height: 70px;
        top: 60px;
    }
}
